In [1]:
from glob import glob
import pandas as pd
import cv2
import numpy as np
import os
convert=False

In [57]:
def convert2jpg(paths):
    news_paths=[]
    for path in paths:
        
        try:
            img=cv2.imread(path)
            img=cv2.cvtColor(img,cv2.COLOR_BGR2GRAY)
            blur = cv2.GaussianBlur(np.array(img),(5,5),0)
            ret3,img = cv2.threshold(blur,0,255,cv2.THRESH_BINARY+cv2.THRESH_OTSU)
            savepath=path[:6] + 'SiameseData/' + path[6:-3]+'jpg'
            dirs='/'.join(savepath.split('/')[:-1])
            if os.path.exists(dirs) is False:
                os.makedirs(dirs)
            cv2.imwrite(savepath,img)
            news_paths.append(savepath)
        except:
           
            pass
        
    return news_paths

# ICDAR2009

In [3]:
!ls ../../ICDAR2009/

forgeries  genuines

In [4]:
real=glob('../../ICDAR2009/genuines/*.png')
forged=glob('../../ICDAR2009/forgeries/*.png')
len(real)+len(forged)

1564

In [5]:

forged=convert2jpg(forged)
real=convert2jpg(real)

In [6]:
real_df=pd.DataFrame(sorted(real),columns=['real_path'])
real_df['real_id']=real_df.real_path.apply(lambda x:x.split('-')[-1].split('.')[0][-3::]).astype(int)
real_df['real_idx']=real_df.real_path.apply(lambda x:x.split('-')[-1].split('.')[0][3:-3]).astype(int)
print(len(real_df))

real_df.head()

940

                                           real_path  real_id  real_idx
0  ../../SiameseData/ICDAR2009/genuines/NFI-00101...        1         1
1  ../../SiameseData/ICDAR2009/genuines/NFI-00102...        1         2
2  ../../SiameseData/ICDAR2009/genuines/NFI-00103...        1         3
3  ../../SiameseData/ICDAR2009/genuines/NFI-00104...        1         4
4  ../../SiameseData/ICDAR2009/genuines/NFI-00105...        1         5

In [7]:
forged_df=pd.DataFrame(sorted(forged),columns=['forged_path'])
forged_df['forged_id']=forged_df.forged_path.apply(lambda x:x.split('-')[-1].split('.')[0][-3::]).astype(int)
forged_df['forged_idx']=forged_df.forged_path.apply(lambda x:x.split('-')[-1].split('.')[0][3:-3]).astype(int)
print(len(forged_df))

real_df.head()

624

                                           real_path  real_id  real_idx
0  ../../SiameseData/ICDAR2009/genuines/NFI-00101...        1         1
1  ../../SiameseData/ICDAR2009/genuines/NFI-00102...        1         2
2  ../../SiameseData/ICDAR2009/genuines/NFI-00103...        1         3
3  ../../SiameseData/ICDAR2009/genuines/NFI-00104...        1         4
4  ../../SiameseData/ICDAR2009/genuines/NFI-00105...        1         5

In [8]:
df0=real_df.merge(forged_df,left_on='real_id',right_on='forged_id',how='inner')
df0['data']='icdar09'
print(len(df0))
df0.head()

7344

,real_path,real_id,real_idx,forged_path,forged_id,forged_idx,data
0,../../SiameseData/ICDAR2009/genuines/NFI-00201...,2,1,../../SiameseData/ICDAR2009/forgeries/NFI-0030...,2,1,icdar09
1,../../SiameseData/ICDAR2009/genuines/NFI-00201...,2,1,../../SiameseData/ICDAR2009/forgeries/NFI-0030...,2,2,icdar09
2,../../SiameseData/ICDAR2009/genuines/NFI-00201...,2,1,../../SiameseData/ICDAR2009/forgeries/NFI-0030...,2,3,icdar09
3,../../SiameseData/ICDAR2009/genuines/NFI-00201...,2,1,../../SiameseData/ICDAR2009/forgeries/NFI-0030...,2,4,icdar09
4,../../SiameseData/ICDAR2009/genuines/NFI-00201...,2,1,../../SiameseData/ICDAR2009/forgeries/NFI-0030...,2,5,icdar09

# UTSIG

In [9]:
!ls ../../UTSig/Forgery/Simple

1    105  111  14  20  27  33  4   46  52  59  65  71  78  84  90  97
10   106  112  15  21  28  34  40  47  53  6   66  72  79  85  91  98
100  107  113  16  22  29  35  41  48  54  60  67  73  8   86  92  99
101  108  114  17  23  3   36  42  49  55  61  68  74  80  87  93
102  109  115  18  24  30  37  43  5   56  62  69  75  81  88  94
103  11   12   19  25  31  38  44  50  57  63  7   76  82  89  95
104  110  13   2   26  32  39  45  51  58  64  70  77  83  9   96

In [10]:
real=glob('../../UTSig/Genuine/*/*.tif')
len(real)

3105

In [11]:
forged1=glob('../../UTSig/Forgery/Simple/*/*.tif')
forged2=glob('../../UTSig/Forgery/Skilled/*/*.tif')
forged=forged1+forged2
len(forged1)+len(forged2)

4830

In [12]:
forged=convert2jpg(forged)
real=convert2jpg(real)
print(len(forged),len(real))

4830 3105

In [13]:
real[0]

'../../SiameseData/UTSig/Genuine/1/1.jpg'

In [14]:
real_df=pd.DataFrame(real,columns=['real_path'])
real_df['real_id']=real_df.real_path.apply(lambda x:x.split('/')[-2]).astype(int)
real_df['real_idx']=real_df.real_path.apply(lambda x:x.split('/')[-1].split('.')[0]).astype(int)
print(len(real_df))

real_df.head()

3105

                                  real_path  real_id  real_idx
0   ../../SiameseData/UTSig/Genuine/1/1.jpg        1         1
1  ../../SiameseData/UTSig/Genuine/1/10.jpg        1        10
2  ../../SiameseData/UTSig/Genuine/1/11.jpg        1        11
3  ../../SiameseData/UTSig/Genuine/1/12.jpg        1        12
4  ../../SiameseData/UTSig/Genuine/1/13.jpg        1        13

In [15]:
4830*3105

14997150

In [16]:
forged_df=pd.DataFrame(forged,columns=['forged_path'])
forged_df['forged_id']=forged_df.forged_path.apply(lambda x:x.split('/')[-2]).astype(int)
forged_df['forged_idx']=forged_df.forged_path.apply(lambda x:x.split('/')[-1].split('.')[0]).astype(int)
print(len(forged_df))
forged_df.head()

4830

                                       forged_path  forged_id  forged_idx
0  ../../SiameseData/UTSig/Forgery/Simple/1/11.jpg          1          11
1  ../../SiameseData/UTSig/Forgery/Simple/1/12.jpg          1          12
2  ../../SiameseData/UTSig/Forgery/Simple/1/13.jpg          1          13
3  ../../SiameseData/UTSig/Forgery/Simple/1/14.jpg          1          14
4  ../../SiameseData/UTSig/Forgery/Simple/1/15.jpg          1          15

In [17]:
df=real_df.merge(forged_df,left_on='real_id',right_on='forged_id',how='inner')
df['data']='utsig'
print(len(df))
df.head()

130410

,real_path,real_id,real_idx,forged_path,forged_id,forged_idx,data
0,../../SiameseData/UTSig/Genuine/1/1.jpg,1,1,../../SiameseData/UTSig/Forgery/Simple/1/11.jpg,1,11,utsig
1,../../SiameseData/UTSig/Genuine/1/1.jpg,1,1,../../SiameseData/UTSig/Forgery/Simple/1/12.jpg,1,12,utsig
2,../../SiameseData/UTSig/Genuine/1/1.jpg,1,1,../../SiameseData/UTSig/Forgery/Simple/1/13.jpg,1,13,utsig
3,../../SiameseData/UTSig/Genuine/1/1.jpg,1,1,../../SiameseData/UTSig/Forgery/Simple/1/14.jpg,1,14,utsig
4,../../SiameseData/UTSig/Genuine/1/1.jpg,1,1,../../SiameseData/UTSig/Forgery/Simple/1/15.jpg,1,15,utsig

In [18]:
df.isna().sum()

real_path      0
real_id        0
real_idx       0
forged_path    0
forged_id      0
forged_idx     0
data           0
dtype: int64

# bengali

In [19]:
!ls ../../archive_1/BHSig260-Bengali/BHSig260-Bengali

1    14  2   25  30  36  41  47  52  58  63  69  74  8	 85  90  96
10   15  20  26  31  37  42  48  53  59  64  7	 75  80  86  91  97
100  16  21  27  32  38  43  49  54  6	 65  70  76  81  87  92  98
11   17  22  28  33  39  44  5	 55  60  66  71  77  82  88  93  99
12   18  23  29  34  4	 45  50  56  61  67  72  78  83  89  94
13   19  24  3	 35  40  46  51  57  62  68  73  79  84  9   95

In [20]:
data=glob('../../archive_1/BHSig260-Bengali/BHSig260-Bengali/*/*.tif')
real=[i for i in data if '-G-' in i]
forged=[i for i in data if '-F-' in i]
forged=convert2jpg(forged)
real=convert2jpg(real)
print(len(forged),len(real))
print(len(real),len(forged))

3000 2400
2400 3000

In [21]:
real_df=pd.DataFrame(real,columns=['real_path'])
real_df['real_id']=real_df.real_path.apply(lambda x:x.split('/')[-2]).astype(int)
real_df['real_idx']=real_df.real_path.apply(lambda x:x.split('/')[-1].split('-')[-1].split('.')[0]).astype(int)
print(len(real_df))

real_df.head()

2400

                                           real_path  real_id  real_idx
0  ../../SiameseData/archive_1/BHSig260-Bengali/B...       29         6
1  ../../SiameseData/archive_1/BHSig260-Bengali/B...       29         1
2  ../../SiameseData/archive_1/BHSig260-Bengali/B...       29         2
3  ../../SiameseData/archive_1/BHSig260-Bengali/B...       29         3
4  ../../SiameseData/archive_1/BHSig260-Bengali/B...       29         4

In [22]:
(3000*2400)/72000

100.0

In [23]:
forged_df=pd.DataFrame(forged,columns=['forged_path'])
forged_df['forged_id']=forged_df.forged_path.apply(lambda x:x.split('/')[-2]).astype(int)
forged_df['forged_idx']=forged_df.forged_path.apply(lambda x:x.split('/')[-1].split('-')[-1].split('.')[0]).astype(int)
print(len(forged_df))
forged_df.head()

3000

                                         forged_path  forged_id  forged_idx
0  ../../SiameseData/archive_1/BHSig260-Bengali/B...         29          18
1  ../../SiameseData/archive_1/BHSig260-Bengali/B...         29           1
2  ../../SiameseData/archive_1/BHSig260-Bengali/B...         29           2
3  ../../SiameseData/archive_1/BHSig260-Bengali/B...         29           3
4  ../../SiameseData/archive_1/BHSig260-Bengali/B...         29           4

In [24]:
df1=real_df.merge(forged_df,left_on='real_id',right_on='forged_id',how='inner')
df1['data']='bengali'
print(len(df1))
df1.head()

72000

,real_path,real_id,real_idx,forged_path,forged_id,forged_idx,data
0,../../SiameseData/archive_1/BHSig260-Bengali/B...,29,6,../../SiameseData/archive_1/BHSig260-Bengali/B...,29,18,bengali
1,../../SiameseData/archive_1/BHSig260-Bengali/B...,29,6,../../SiameseData/archive_1/BHSig260-Bengali/B...,29,1,bengali
2,../../SiameseData/archive_1/BHSig260-Bengali/B...,29,6,../../SiameseData/archive_1/BHSig260-Bengali/B...,29,2,bengali
3,../../SiameseData/archive_1/BHSig260-Bengali/B...,29,6,../../SiameseData/archive_1/BHSig260-Bengali/B...,29,3,bengali
4,../../SiameseData/archive_1/BHSig260-Bengali/B...,29,6,../../SiameseData/archive_1/BHSig260-Bengali/B...,29,4,bengali

# hindi

In [25]:
!ls ../../archive_1/BHSig260-Hindi/BHSig260-Hindi

1    107  115  123  131  14   148  156	2   28	36  44	52  60	69  77	85  93
10   108  116  124  132  140  149  157	20  29	37  45	53  61	7   78	86  94
100  109  117  125  133  141  15   158	21  3	38  46	54  62	70  79	87  95
101  11   118  126  134  142  150  159	22  30	39  47	55  63	71  8	88  96
102  110  119  127  135  143  151  16	23  31	4   48	56  64	72  80	89  97
103  111  12   128  136  144  152  160	24  32	40  49	57  65	73  81	9   98
104  112  120  129  137  145  153  17	25  33	41  5	58  66	74  82	90  99
105  113  121  13   138  146  154  18	26  34	42  50	59  67	75  83	91
106  114  122  130  139  147  155  19	27  35	43  51	6   68	76  84	92

In [60]:
data=glob('../../archive_1/BHSig260-Hindi/BHSig260-Hindi/*/*.tif')
real=[i for i in data if '-G-' in i]
forged=[i for i in data if '-F-' in i]
print(len(forged),len(real))

4799 3840

In [61]:
forged=convert2jpg(forged)
real=convert2jpg(real)
print(len(real),len(forged))

3840 4798

In [62]:
real_df=pd.DataFrame(real,columns=['real_path'])
real_df['real_id']=real_df.real_path.apply(lambda x:x.split('/')[-2]).astype(int)
real_df['real_idx']=real_df.real_path.apply(lambda x:x.split('/')[-1].split('-')[-1].split('.')[0]).astype(int)
print(len(real_df))

real_df.head()

3840

                                           real_path  real_id  real_idx
0  ../../SiameseData/archive_1/BHSig260-Hindi/BHS...        1         6
1  ../../SiameseData/archive_1/BHSig260-Hindi/BHS...        1         1
2  ../../SiameseData/archive_1/BHSig260-Hindi/BHS...        1         2
3  ../../SiameseData/archive_1/BHSig260-Hindi/BHS...        1         3
4  ../../SiameseData/archive_1/BHSig260-Hindi/BHS...        1         4

In [63]:
forged_df=pd.DataFrame(forged,columns=['forged_path'])
forged_df['forged_id']=forged_df.forged_path.apply(lambda x:x.split('/')[-2]).astype(int)
forged_df['forged_idx']=forged_df.forged_path.apply(lambda x:x.split('/')[-1].split('-')[-1].split('.')[0]).astype(int)
print(len(forged_df))
forged_df.head()

4798

                                         forged_path  forged_id  forged_idx
0  ../../SiameseData/archive_1/BHSig260-Hindi/BHS...          1          18
1  ../../SiameseData/archive_1/BHSig260-Hindi/BHS...          1           1
2  ../../SiameseData/archive_1/BHSig260-Hindi/BHS...          1           2
3  ../../SiameseData/archive_1/BHSig260-Hindi/BHS...          1           3
4  ../../SiameseData/archive_1/BHSig260-Hindi/BHS...          1           4

In [64]:
df2=real_df.merge(forged_df,left_on='real_id',right_on='forged_id',how='inner')
df2['data']='hindi'
print(len(df2))
df2.head()

115152

,real_path,real_id,real_idx,forged_path,forged_id,forged_idx,data
0,../../SiameseData/archive_1/BHSig260-Hindi/BHS...,1,6,../../SiameseData/archive_1/BHSig260-Hindi/BHS...,1,18,hindi
1,../../SiameseData/archive_1/BHSig260-Hindi/BHS...,1,6,../../SiameseData/archive_1/BHSig260-Hindi/BHS...,1,1,hindi
2,../../SiameseData/archive_1/BHSig260-Hindi/BHS...,1,6,../../SiameseData/archive_1/BHSig260-Hindi/BHS...,1,2,hindi
3,../../SiameseData/archive_1/BHSig260-Hindi/BHS...,1,6,../../SiameseData/archive_1/BHSig260-Hindi/BHS...,1,3,hindi
4,../../SiameseData/archive_1/BHSig260-Hindi/BHS...,1,6,../../SiameseData/archive_1/BHSig260-Hindi/BHS...,1,4,hindi

# CEDAR

In [65]:
!ls ../../archive_1/CEDAR/CEDAR

1   12	15  18	20  23	26  29	31  34	37  4	42  45	48  50	53  6  9
10  13	16  19	21  24	27  3	32  35	38  40	43  46	49  51	54  7
11  14	17  2	22  25	28  30	33  36	39  41	44  47	5   52	55  8

In [66]:
data=glob('../../archive_1/CEDAR/CEDAR/*/*.png')
real=[i for i in data if 'original' in i]
forged=[i for i in data if 'forgeries' in i]
forged=convert2jpg(forged)
real=convert2jpg(real)
print(len(forged),len(real))

1320 1319

In [67]:
forged[0].split('_')[-2]

'3'

In [68]:
forged[0].split('_')[-1].split('.')[-2]

'24'

In [69]:
real_df=pd.DataFrame(real,columns=['real_path'])
real_df['real_id']=real_df.real_path.apply(lambda x:x.split('_')[-2]).astype(int)
real_df['real_idx']=real_df.real_path.apply(lambda x:x.split('_')[-1].split('.')[-2]).astype(int)
print(len(real_df))

real_df.head()

1319

                                           real_path  real_id  real_idx
0  ../../SiameseData/archive_1/CEDAR/CEDAR/3/orig...        3         1
1  ../../SiameseData/archive_1/CEDAR/CEDAR/3/orig...        3        10
2  ../../SiameseData/archive_1/CEDAR/CEDAR/3/orig...        3        11
3  ../../SiameseData/archive_1/CEDAR/CEDAR/3/orig...        3        12
4  ../../SiameseData/archive_1/CEDAR/CEDAR/3/orig...        3        13

In [70]:
forged_df=pd.DataFrame(forged,columns=['forged_path'])
forged_df['forged_id']=forged_df.forged_path.apply(lambda x:x.split('_')[-2]).astype(int)
forged_df['forged_idx']=forged_df.forged_path.apply(lambda x:x.split('_')[-1].split('.')[-2]).astype(int)
print(len(forged_df))
forged_df.head()

1320

                                         forged_path  forged_id  forged_idx
0  ../../SiameseData/archive_1/CEDAR/CEDAR/3/forg...          3          24
1  ../../SiameseData/archive_1/CEDAR/CEDAR/3/forg...          3           1
2  ../../SiameseData/archive_1/CEDAR/CEDAR/3/forg...          3          10
3  ../../SiameseData/archive_1/CEDAR/CEDAR/3/forg...          3          11
4  ../../SiameseData/archive_1/CEDAR/CEDAR/3/forg...          3          12

In [71]:
df3=real_df.merge(forged_df,left_on='real_id',right_on='forged_id',how='inner')
print(len(df3))
df3['data']='cedar'

31656

In [72]:
df=pd.concat([df0,df,df1,df2,df3],axis=0)
df.head()

,real_path,real_id,real_idx,forged_path,forged_id,forged_idx,data
0,../../SiameseData/ICDAR2009/genuines/NFI-00201...,2,1,../../SiameseData/ICDAR2009/forgeries/NFI-0030...,2,1,icdar09
1,../../SiameseData/ICDAR2009/genuines/NFI-00201...,2,1,../../SiameseData/ICDAR2009/forgeries/NFI-0030...,2,2,icdar09
2,../../SiameseData/ICDAR2009/genuines/NFI-00201...,2,1,../../SiameseData/ICDAR2009/forgeries/NFI-0030...,2,3,icdar09
3,../../SiameseData/ICDAR2009/genuines/NFI-00201...,2,1,../../SiameseData/ICDAR2009/forgeries/NFI-0030...,2,4,icdar09
4,../../SiameseData/ICDAR2009/genuines/NFI-00201...,2,1,../../SiameseData/ICDAR2009/forgeries/NFI-0030...,2,5,icdar09

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356562 entries, 0 to 31655
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   real_path    356562 non-null  object
 1   real_id      356562 non-null  int64
 2   real_idx     356562 non-null  int64
 3   forged_path  356562 non-null  object
 4   forged_id    356562 non-null  int64
 5   forged_idx   356562 non-null  int64
 6   data         356562 non-null  object
dtypes: int64(4), object(3)
memory usage: 21.8+ MB

In [74]:
df.to_csv('../csv/all_data.csv',index=False)

In [ ]:
# test data

In [75]:
!ls ../../siamese-signature-verification/Dataset/001

forged	genuine

In [76]:
real=glob('../../siamese-signature-verification/Dataset/*/genuine/*.png')
forged=glob('../../siamese-signature-verification/Dataset/*/forged/*.png')
len(real)+len(forged)

300

In [77]:
forged=convert2jpg(forged)
real=convert2jpg(real)

libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile

In [78]:
real[0].split('/')[-1].split('.')[0]

'0'

In [79]:
real_df=pd.DataFrame(real,columns=['real_path'])
real_df['real_id']=real_df.real_path.apply(lambda x:x.split('/')[-3]).astype(int)
real_df['real_idx']=real_df.real_path.apply(lambda x:x.split('/')[-1].split('.')[0]).astype(int)
print(len(real_df))

real_df.head()

150

                                           real_path  real_id  real_idx
0  ../../SiameseData/siamese-signature-verificati...        1         0
1  ../../SiameseData/siamese-signature-verificati...        1         1
2  ../../SiameseData/siamese-signature-verificati...        1         2
3  ../../SiameseData/siamese-signature-verificati...        1         3
4  ../../SiameseData/siamese-signature-verificati...        1         4

In [80]:
forged_df=pd.DataFrame(forged,columns=['forged_path'])
forged_df['forged_id']=forged_df.forged_path.apply(lambda x:x.split('/')[-3]).astype(int)
forged_df['forged_idx']=forged_df.forged_path.apply(lambda x:x.split('/')[-1].split('.')[0]).astype(int)
print(len(forged_df))
forged_df.head()

150

                                         forged_path  forged_id  forged_idx
0  ../../SiameseData/siamese-signature-verificati...          1           0
1  ../../SiameseData/siamese-signature-verificati...          1           1
2  ../../SiameseData/siamese-signature-verificati...          1           2
3  ../../SiameseData/siamese-signature-verificati...          1           3
4  ../../SiameseData/siamese-signature-verificati...          1           4

In [81]:
test_df=real_df.merge(forged_df,left_on='real_id',right_on='forged_id',how='inner')
test_df['data']='test'
print(len(test_df))
test_df.head()

750

,real_path,real_id,real_idx,forged_path,forged_id,forged_idx,data
0,../../SiameseData/siamese-signature-verificati...,1,0,../../SiameseData/siamese-signature-verificati...,1,0,test
1,../../SiameseData/siamese-signature-verificati...,1,0,../../SiameseData/siamese-signature-verificati...,1,1,test
2,../../SiameseData/siamese-signature-verificati...,1,0,../../SiameseData/siamese-signature-verificati...,1,2,test
3,../../SiameseData/siamese-signature-verificati...,1,0,../../SiameseData/siamese-signature-verificati...,1,3,test
4,../../SiameseData/siamese-signature-verificati...,1,0,../../SiameseData/siamese-signature-verificati...,1,4,test

In [82]:
test_df.to_csv('../csv/test_data.csv',index=False)